### CMake ###
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
build/
cmake-build-debug/

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.a

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

client
server
